<div class="row">
    <div class="col-12 d-md-none d-flex justify-content-between p-0">
        <label class="menu">Menu</label>
        <img src="/assets/images/close.png" height="18px" (click)="closeMenu()">
    </div>
    <div class="col-12">
        <img src="/assets/images/dashboard.png">
        <label>Dashboard</label>
    </div>
    <div class="col-12 active">
        <img src="/assets/images/note_alt.png">
        <label>Assessment</label>
    </div>
    <div class="col-12 lib">
        <img src="/assets/images/quiz.png">
        <label>My Library</label>
    </div>
    <div class="col-12 admin">
        <div class="pill-admin">Admin</div>
        <img src="/assets/images/admin_meds.png">
        <label>Round Status</label>
    </div>
</div>