<a type="button" data-bs-toggle="modal" data-bs-target="#newAssessment">
<div class="card">
    <div class="card-body m-0">
        <div class="card-img">
            <div class="add-icon">
                <img src="/assets/images/plus.png">
            </div>
        </div>

        <div class="card-title">
            <h3 class="heading3">New Assessment</h3>
        </div>

        <h4 class="card-subtitle">
            From here you can add questions of multiple types like MCQs, subjective (text or paragraph)!   
        </h4>

    </div>
</div>
</a>


<app-new-assessment-modal></app-new-assessment-modal>