.card {border: 1px dashed #DADCE0;}
.card-body {background-color: #F6F8FA; display:flex;flex-direction:column;align-items: center;justify-content: center;}
.card-body > * {display: flex;}
.add-icon {width: 70px;height: 70px;border-radius: 72px;display: flex;align-items: center;justify-content: center;margin: auto;background-color: #fff;}

.heading3 { color: #1C4980; padding:10px 0; margin: 0;}
.card-subtitle {font-size: 12px;font-weight: 500;width: 70%;text-align: center;color: #1C4980;}